input[type="text"] {
  font-size: 18px;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
  font-size: 18px;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #0c3552;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button[type="submit"]:hover {
  cursor: pointer;
  background-color: #232F3E;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #232F3E;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
input{
  background-color: #0c3552;
  color: #fff;
}